@model FastReport.Web.WebReport
@{
    ViewData["Title"] = "GetCartByUserNameAndOrderSatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Please Download</h1>
@await Model.Render();
@Html.ActionLink("Pay Now","Submit", "Payment", null, 
                  new { @class = "btn btn-primary text-white"})
