
@{
    ViewData["Title"] = "Add Medicine Data";
}

<div class="text-center">

    <h4>Update Medicine Data</h4>
    <hr />
</div>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <form asp-action="BulkAdd" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Warnings! Only Formatted CSV File</label>
                <input class="form-control" accept=".csv"/>
                <span class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label class="control-label">Admission Unit</label>
                <select class="form-control">
                    <option value="">Select Please</option>
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                </select>
               <span class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Insert" class="btn btn-primary btn-lg w-100" />
            </div>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>

