
@{
    ViewData["Title"] = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="text-center mb-5">
        <h1 class="display-4 font-weight-bold text-success">Payment Success</h1>
</header>