@model medGet.Models.Cart.OrderProduct

@{
    ViewData["Title"] = "Edit Amount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>OrderProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" asp-for="OrderId" />
            <input type="hidden" asp-for="OrderStatus" />
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" asp-for="CartId" />
            <input type="hidden" asp-for="ProductBrand" />
            <input type="hidden" asp-for="TotalCostProduct" />
            <input type="hidden" asp-for="Price" />
            @*<div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OrderStatus" /> @Html.DisplayNameFor(model => model.OrderStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductBrand" class="control-label"></label>
                <input asp-for="ProductBrand" class="form-control" />
                <span asp-validation-for="ProductBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Qunatity" class="control-label"></label>
                <input asp-for="Qunatity" class="form-control" />
                <span asp-validation-for="Qunatity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
